.container {background-color: hotpink;}

#navbar {background-color: black;
    height: 90px;
}
#innernav {
    width: 85%;
    height: 90px;
    margin: auto;
    background-color: firebrick;
}
#navleft {
    height: 90px;
background-color: gold;
}





body {margin: 0px;}