.container {background-color: hotpink;}

#navbar {background-color: black;
    height: 90px;
}
#innernav {
    width: 75%;
    height: 90px;
    margin: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
#navleft {
    height: 90px;
    width: 800px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0%;
    font-family: cursive;
}

ul li {
    list-style: none;
    color: white;
}


#navright {
    height: 90px;
    width: 200px;
    background-color:black;
    text-align: center;
}
button {
    margin-top: 30px;
    height: 30px;
    width: 100px;
    font-family: cursive;
    font-size: large;
    background-color: #17a2b8;
    color: white;
}

.main {
    width: 1427px;
    background-color: lightskyblue;
    height: 1000px;
    margin: auto;
    justify-content: space-between;
}

#profile {
    background-color: white;
    width: 836px;
    height: 600px;
    margin-top: 34px;
    margin-left: 4px;
    display: inline-table;
}
#blue {
    background-color: #17a2b8;
    width: 836px;
    height: 150px;
}

#requests {
    background-color: yellowgreen;
    width: 550px;
    height: 350px;
    margin-left: 31px;
    margin-top: 34px;
    display: inline-table;
    vertical-align: top;
}
#reqBLACK {
    background-color: #333;
    width: 550px;
    height: 100px;
}

#education {
    width: 836px;
    height:400px;
    background-color: cornflowerblue;
    display: inline-table;
    margin-left: 4px;
    margin-top: 34px;
}
#edBLACK {
    background-color: #333;
    width: 836px;
    height: 80px;
}

#connections {
    width: 550px;
    height: 100px;
    background-color: darkorchid;
    display: inline-table;
    margin-left: 31px;
}

body {margin: 0px;}